@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src:
    url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src:
    url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}
@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;

  font-family: "PTSans", "Cuprum", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
}
.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* header */

.header {
  height: 320px;
  background-color: #f4f7f9;
  color: #32425c;
}
.container {
  width: 940px;
  margin: 0 auto;
}
.header__top {
  height: 42px;
  margin: 0;

  background-color: #293449;
}
.header__top-container {
  display: flex;
  justify-content: space-between;
  height: inherit;
}
.logo {
  display: flex;
  width: 220px;

  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(181, 41, 51, 0.76);
}
.header__logo {
  height: 47px;
}
.logo__link {
  display: flex;
  height: inherit;
  width: inherit;
}
.logo__image {
  margin: auto;
}
.logo:hover {
  background-color: #ca2c37;
}
.logo:active {
  background-color: #ba2732;
}
.search {
  display: flex;
  width: 100%;
  height: inherit;
  margin-right: auto;
}
.search:hover {
  background-color: #212a3a;
}
.search__button {
  width: 48px;
  height: inherit;
  padding-left: 12px;
  order: 1;

  border: none;
  background-color: inherit;
  opacity: 0.3;
  cursor: pointer;
}
.search__button:hover {
  opacity: 1;
}
.search__input {
  width: 100%;
  height: 42px;
  order: 2;

  font-family: Cuprum;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

  background-color: inherit;
  border: none;
}
.search__input:focus {
  color: #000000;

  background-color: #ffffff;
}
.search__input::placeholder {
  padding-left: 3px;

  font-family: Cuprum;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.search__input:focus + .search__button {
  background-color: #ffffff;
  opacity: 1;
}
.customer-menu {
  display: flex;
}
.customer-menu__button {
  display: flex;
  height: 42px;
  width: 150px;
}
.customer-menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  padding-right: 14px;

  color: #ffffff;
  text-decoration: none;
  font-family: "Cuprum";
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
}
.customer-menu__link:active {
  background-color: #161d29;

  color: rgba(255, 255, 255, 0.6);
}
.customer-menu__link:hover .customer-menu__img {
  opacity: 1;
}
.customer-menu__value {
  padding-left: 3px;
}
.customer-menu__img {
  opacity: 0.3;
}
.customer-menu__img:active {
  opacity: 0.5;
}
.customer-menu__link--green {
  padding-left: 11px;

  background-color: #63a63e;
}
.customer-menu__link--green:hover {
  background-color: #5fbb2d;
}
.customer-menu__link--green:active {
  background-color: #518534;

  color: rgba(255, 255, 255, 0.5);
}
.customer-menu__button--red {
  background-color: #ee3643;
}
.customer-menu__button--red:hover {
  background-color:  #ca2c37;
}
.customer-menu__link--red:active {
  background-color: #ba2732;
}
.header__middle {
  display: flex;
  height: 158px;
  align-items: flex-start;
  padding-top: 45px;
  justify-content: space-between;
}
.header__main-title {
  width: 196px;
  height: 60px;

  font-family: "Cuprum";
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #ee3643;
}
.header-contacts {
  display: flex;
  flex-direction: column;
}
.header-contacts__wrapper {
  display: flex;
  width: 270px;
  height: 45px;
  justify-content: center;
  align-items: center;

  border: solid 3px #ffffff;
}
.header-contacts__phone {
  width: 182px;
  height: 21px;

  font-family: "Cuprum";
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-decoration: none;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ee3643;
}
.header-contacts__phone:hover .header-contacts__phone-image {
  opacity: 0.5;
}
.header-contacts__address {
  width: 250px;
  height: 13px;

  font-family: "Cuprum";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
}
.header__user-block {
  display: flex;
  flex-direction: column;
  width: 299px;
}
.user-menu {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
.user-menu__item {
  list-style: none;
}
.user-button {
  margin: auto;

  font-family: "Cuprum";
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  text-decoration: none;
  text-align: left;
  color: #000000;
}
.user-button__image {
  opacity: 0.3;
}
.user-menu__item {
  display: flex;
  height: 45px;

  background-color: #ffffff;
}
.registration__block {
  width: 150px;
}
.login__block {
  width: 121px;
}
.name__block {
  width: 299px;
}
.user-button:hover {
  color: #ee3643;
}
.user-button:active {
  color: rgba(0, 0, 0, 0.3);
}
.user-button:hover .user-button__image {
  opacity: 1;
}
.user-button:active .user-button__image{
  opacity: 0.3;
}
.user-menu__interface {
  display: flex;
  justify-content: space-around;
}
.user-menu__link {
  font-family: "Cuprum";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
}
.user-menu__link:hover {
  color: #ee3643;
}
.user-menu__link:active {
  color: rgba(50, 66, 92, 0.3);
}
.user-menu__info {
  list-style: none;
}
.user-menu__info--before::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 27px;

  vertical-align: middle;

  border-radius: 3px;
  background-color: #32425c;
}
.name__block-link:hover {
  color: #000000;
}
.name__block-link:hover .name__block-image {
  opacity: 0.3;
}
.quit__block-image:hover {
  opacity: 0.3;
}
.nav {
  width: 940px;
  height: 60px;

  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}
.nav__list {
  display: flex;
  height: inherit;
  margin: 0px;
  padding: 0px;
  justify-content: space-around;
}
.nav__item {
  display: flex;
  width: 100%;
  height: 100%;

  list-style: none;
}
.nav__item:hover {
  background-color: #293449;
}
.nav__item:active {
  background-color: #1d2739;
}
.nav__link {
  width: inherit;
  padding: 20px;

  font-family: "Cuprum";
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
.nav__link:active {
  color: rgba(255, 255, 255, 0.5);
}

/* main */

.second-title {
  font-family: "Cuprum";
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}
.promo__menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.promo__item {
  list-style: none;
  width: 300px;
  height: 123px;
}
.promo__item--orange {
  background-color: #ffbf47;
}
.promo__item--plum{
  background-color: #3bbce3;
}
.promo__item--blue{
  background-color: #dc91d8;
}
.promo__item--feijoa{
  background-color: #8ed78f;
}
.promo__name {
  font-family: Cuprum;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.promo__wrapper {
  display: flex;
  width: 135px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.1);
}
.promo__wrapper:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.promo__wrapper:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.promo__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;

  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.slider__button-wrapper {
  width: 195px;
}
.services__container {
  display: flex;
  flex-direction: column;
  height: inherit;
}
.services {
  height: 522px;
  background-color: #f4f7f9;
}
.services__text {
  width: 412px;
}
.services-slider {
  display: flex;
  height: inherit;
}
.services-slider__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.services-slider__item {
  display: flex;
  align-items: center;
  height: 61px;

  font-family: Cuprum;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
}
.services-slider__wrapper {
  height: 61px;
  width: 240px;
  padding-left: 23px;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #32425c;
  color: #ffffff;
  cursor: pointer;
}
.services-slider__wrapper:hover {
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
  color: #32425c;
}
.services-slider__title {
  font-family: Cuprum;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #32425c;
}
.services-slider__text {
  width: 300px;

  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.services-slider__block-delivery {
  margin-left: 30px;
  margin-top: 200px;
}
.services-slider__block-warranty {
  margin-left: 30px;
  margin-top: 150px;
}
.services-slider__block-credit {
  margin-left: 30px;
}
.services-slider__block-delivery,
.services-slider__block-warranty,
.services-slider__block-credit {
  display: none;
}
.services-slider__wrapper--delivery:hover + .services-slider__block-delivery,
.services-slider__wrapper--delivery:focus + .services-slider__block-delivery {
  display: block;
}
.services-slider__wrapper--warranty:hover + .services-slider__block-warranty,
.services-slider__wrapper--warranty:focus + .services-slider__block-warranty {
  display: block;
}
.services-slider__wrapper--credit:hover + .services-slider__block-credit,
.services-slider__wrapper--credit:focus + .services-slider__block-credit {
  display: block;
}
.popular__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 940px;
  height: 89px;

  background-color: #f9f5f0;
}
.popular__button-wrapper {
  width: 253px;
}
.popular__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.features {
  display: flex;
  flex-direction: column;
}
.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 318px;

  border: solid 1px #eaeaea;
  background-color: #ffffff;
  list-style: none;
}
.card:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.card__name {
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
.card__wrapper {
  width: 135px;
  height: 38px;
}
.card__wrapper--white {
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
}
.filter__form {
  display: flex;
  flex-direction: column;
}
.fabricator__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
}
.fabricator__button-wrapper {
  width: 253px;
}
.fabricator__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.fabricator__item {
  list-style: none;
  width: 220px;
  height: 145px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
}
.fabricator-item__link {
  width: inherit;
  height: inherit;
  display: flex;
}
.fabricator-item__image {
  margin: auto;
}
.fabricator__item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.fabricator__item:active {
  opacity: 0.3;
}
.about-company {
  display: flex;
}
.transport-companies {
  margin: 0;
  padding: 0;
}
.transport-companies__link {
  font-family: "Cuprum";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
  color: #000000;
}
.transport-companies__button-wrapper {
  width: 220px;
}
.contacts__button-wraper{
  width: 300px;
}
/* footer */

.footer__logo {
  height: 68px;
}
.footer {
  background-color: #32425c;

  color: white;
}
.footer__top {
  height: 193px;
}
.footer__bottom {
  height: 107px;

  background-color: #293449;
}
.footer-contact {
  font-family: "Cuprum";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-decoration: none;
  text-align: left;
  color: #f3f7f9;
}
.footer__copyright{
  font-family: "Cuprum";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.developer__item {
  list-style: none;
  font-family: "Cuprum";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.developer__link {
  color: #ffd180;
  text-decoration: none;
}
.developer__link:hover {
  text-decoration: underline;
}
.developer__link:active {
  color: #ee3643;
  text-decoration: none;
}
.footer-nav {
  margin: 0;
  padding: 0;
  display: flex;
}
.footer-nav__item {
  list-style: none;
}
.footer-nav__link {
  font-family: "Cuprum";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
  color: #f1f5f7;
}
.footer-nav__link--yellow {
  color: #ffd180;
}
.footer-nav__link:hover,
.footer-nav__link:focus {
  text-decoration: underline;
}
.footer-nav__link:active {
  text-decoration: none;
  opacity: 0.5;
}
.footer__top {
  display: flex;
  flex-direction: column;
}
.footer__top-block {
  display: flex;
  justify-content: space-between;
}
.footer__middle {
  display: flex;
  justify-content: space-around;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
}
.footer__social {
  display: flex;
}
.social__item {
  list-style: none;
}
.social__link--vk {
  display: flex;
  width: 42px;
  height: 42px;

  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 21px;
  background-color: #212a3a;
}
.social__link--facebook {
  display: flex;
  width: 42px;
  height: 42px;

  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 21px;
  background-color: #212a3a;
}
.social__link--instagram {
  display: flex;
  width: 42px;
  height: 42px;

  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 21px;
  background-color: #212a3a;
}
.social__link:hover,
.social__link:focus,
.social__link:active {
  background-color: #ee3643;
}

/* popup */

.relative {
  position: relative;
}
.popup {
  width: 940px;
  height: 446px;

  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}
.popup__map {
  width: inherit;
  height: inherit;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.modal {
  width: 620px;
  height: 430px;

  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ee3643;
}
.modal__label {
  width: 72px;
  height: 13px;

  font-family: "Cuprum";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
}
.modal__fieldset {
  border: none;
}
.modal__textarea {
  width: 460px;
  height: 114px;

  border: solid 2px #d7dcde;
  background-color: #ffffff;
}
.modal__textarea:hover {
  border: solid 2px #b5b5b5;
  outline: none;
}
.modal__textarea:focus {
  border: solid 2px #ee3643;
  outline: none;
}
.modal__input {
  width: 220px;
  height: 38px;

  border: solid 2px #d7dcde;
  background-color: #ffffff;
}
.modal__input:hover {
  border: solid 2px #b5b5b5;
  outline: none;
}
.modal__input:focus {
  border: solid 2px #ee3643;
  outline: none;
}

.order-dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 620px;
  height: 282px;

  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
  border-top: 7px solid #ee3643;
}
.order-dialog__text {
  font-family: "Cuprum";
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
}
.order-dialog__button {
  display: flex;
  justify-content: space-around;
  height: 112px;

  align-items: center;

  background-color: #f1f1f1;
}
.link-button {
  display: flex;
  height: 38px;

  background-color: #ee3643;
  border: none;
}
.link-button:hover {
  background-color: #ca2c37;
}
.link-button:active{
  background-color: #ba2732;
}
.link-button__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  margin: auto;

  font-family: "Cuprum";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.link-button--white {
  background-color: #ffffff;
}
.link-button--white:hover {
  background-color: #ca2c37;
}
.link-button__button--white {
  color: #000000;
}
.link-button__button--white:hover {
  color: #ffffff;
}

.order-dialog__button-link {
  width: 220px;
}
.modal__button {
  display: block;
  width: 460px;
  height: 38px;;
  padding-top: 0px;
  background-color: #ee3643;
  border: none;
  cursor: pointer;
}
